<!-- <div *ngIf="productsWithMatchingCombinabilityCode$ | async as productsWithMatchingCombinabilityCode">
  <div *ngFor="let product of productsWithMatchingCombinabilityCode">
    <div>
      <h3>Departure Flights</h3>
      <div *ngFor="let flight of product.departureFlights.matchingFlights">
        {{ flight }}
      </div>
      <h3>Return Flights</h3>
      <div *ngIf="product.returnFlights">
        <div *ngFor="let flight of product.returnFlights.matchingFlights">
          {{ flight }}
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <h3>Fetched data</h3>
