<div class="container">
<app-flight-offers></app-flight-offers>  <app-air-travel></app-air-travel>
  <!-- <app-pagination></app-pagination>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

  <app-products
    *ngFor="let product of allItems;"
    [phone]="product.phone"
    [price]="product.price"
    [description]="product.description"


  /> -->


</div>
